.container{
    width: 60%;
    min-height: 100px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ddd;
    margin-left: 100px;
    
}
.bio {
    margin-top: 30px;
}
.bio h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}
.bio p {
    font-size: 17px;
    color: #222222;
    margin-top: 0px;
}
.skills {
    margin-bottom: 30px;
}
.skills h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 30px;
    background: #dbcfcf;
    border-radius: 5px;
}
.links h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links ul li {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 30px;
}
.links ul li a {
    color: #02075d;
    font-weight: bold;
    text-decoration: none;
}
.links ul li a:hover {
    color: #ffa500;
}
